<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="EndpointBehavior()">
                    <webHttp helpEnabled="true" />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="MetadataBehavior()">
                    <serviceMetadata httpsGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="ServiceRest_102_RezaRafli.TI_UMY">
                <endpoint address="" behaviorConfiguration="EndpointBehavior()"
                    binding="webHttpBinding" bindingConfiguration="" contract="ServiceRest_102_RezaRafli.ITI_UMY" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1907" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>